name: Deploy Backend to ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image to ECR
      run: |
        docker build -t cloudguru-backend ./app/backend
        docker tag cloudguru-backend:latest 065727387548.dkr.ecr.eu-north-1.amazonaws.com/cloudguru-backend:latest
        docker push 065727387548.dkr.ecr.eu-north-1.amazonaws.com/cloudguru-backend:latest

    - name: Force new ECS deployment
      run: |
        aws ecs update-service \
          --cluster cloudguru-ecs-cluster \
          --service cloudguru-backend-service \
          --force-new-deployment
