name: Terraform Destroy (Manual)

on:
  workflow_dispatch:   # Manual trigger button in GitHub

env:
  AWS_REGION: eu-north-1

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Destroy
        working-directory: terraform
        run: |
          terraform destroy \
            -var="my_ip_cidr=51.21.252.86/32" \
            -var="ssh_key_name=trtech" \
            -var="backend_image=065727387548.dkr.ecr.eu-north-1.amazonaws.com/cloudguru-backend:latest" \
            -auto-approve
